<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Allgemeine Einstellungen">
    	<setting label="Debug: Plugin-Logging einschalten" type="bool" id="pref_info_debug" default="false"/>
    	<setting label="neues Update beim Start des Plugins anzeigen" type="bool" id="pref_info_update" default="false"/>
    	<setting label="Classic-Version der ARD Mediathek verwenden" type="bool" id="pref_use_classic" default="true"/>
    	<setting label="Mobile Version der ZDF Mediathek verwenden" type="bool" id="pref_use_zdfmobile" default="false"/>
         <setting type="sep"/>
   	<setting label="EPG-Daten für TV-Live-Sender zeigen - dauert etwas länger" type="bool" id="pref_use_epg" default="false"/>
   	<setting label="Inhaltstext zu Video im Voraus laden - kann sehr lange dauern!" type="bool" id="pref_load_summary" default="false"/>
	<setting type="sep"/>
	<setting label="Video-Bandbreiten und -auflösungen anzeigen (Sofortstart entfällt)" type="bool" id="pref_show_resolution" default="true"/>
	<setting label="Sofortstart für TV-Live und Videos (Downloads-Buttons entfallen)" type="bool" id="pref_video_direct" default="false"/>
	<setting label="Untertitel: auf vorhandene Untertitel hinweisen" type="bool" id="pref_UT_Info" default="true"/>
 	<setting label="Untertitel: falls vorhanden, im Player einschalten" type="bool" id="pref_UT_ON" default="true"/>
  </category>

 <category label="Radio-Podcast Einstellungen">
  	<setting label="Radio-Podcast-Erweiterung verwenden" type="bool" id="pref_use_podcast" default="true"/>
	<setting label="Pfad zur Podcast-Favoritenliste (ohne Pfad: Ressourcenverzeichnis)" type="file" id="pref_podcast_favorits" default="podcast-favorits.txt"/>
 </category>
 
 <category label="Download Einstellungen">
 	<setting label="curl/wget-Downloads freischalten" type="bool" id="pref_use_downloads" default="false"/>
  	<setting label="curl/wget-Downloads: alle verfuegbaren Video-Qualitaeten anbieten" type="bool" id="pref_show_qualities" default="false"/>
 	<setting label="curl/wget-Downloads: Dateinamen aus dem Titel erzeugen (statt Download_{Datum}_{Uhrzeit})" type="bool" id="pref_generate_filenames" default="false"/>
	<setting label="Pfad zum Downloadprogramm curl/wget" type="executable" id="pref_curl_path" default=""/>
	<setting label="Downloadverzeichnis fuer curl/wget und Recording TV-Live" type="folder" option="writeable" source="" id="pref_curl_download_path" default=""/>
	<setting label="Downloads verschieben in dieses Verzeichnis" type="folder" option="writeable" source="" id="pref_VideoDest_path" default=""/>
</category>
 
 <category label="Recording TV-Live verwenden">
 	<setting label="Recording TV-Live verwenden" type="bool" id="pref_LiveRecord" default="true"/>
 	<setting label="Recording TV-Live: Dauer der Aufnahme manuell eingeben" type="bool" id="pref_LiveRecord_input" default="false"/>
	<setting label="Recording TV-Live: Dauer der Aufnahme" type="labelenum" values="00:05:00 = 5 Minuten|00:15:00 = 15 Minuten|00:30:00 = 30 Minuten|01:00:00 = 1 Stunde|01:30:00 = 1:30 Stunden|01:45:00 = 1:45 Stunden|02:00:00 = 2 Stunden|04:00:00 = 4 Stunden|12:00:00 = 12 Stunden|00:00:05 = 5 Sekunden" default="01:00:00 = 1 Stunde" id="pref_LiveRecord_duration"/> 
	<setting label="Recording TV-Live: ffmpeg-Parameter. Das Plugin ersetzt 3 x %s durch Url, Aufnahmedauer, Dateiname." type="text" id="pref_LiveRecord_ffmpegCall" default="/usr/bin/ffmpeg -re -i %s -c copy -t %s %s -nostdin"/>
</category> 

 <category label="Addon-Cache: Löschfristen (Tage)">
	<setting label="Dict (div. Variablen): " type="labelenum" values="1|10|30|100" default="30"
		id="pref_DICT_store_days"/>
	<setting label="Untertitel" type="labelenum" values="1|10|30|100" default="30"
		id="pref_UT_store_days"/>
	<setting label="Bildersammlungen (Slide Shows):" type="labelenum" values="1|10|30|100" default="30"
		id="pref_SLIDES_store_days"/>
	<setting label="Inhaltstexte (im Voraus geladen): " type="labelenum" values="1|10|30|100" default="30"
		id="pref_TEXTE_store_days"/>
</category> 

 <category label="Favoriten / Merkliste">
 	<setting label="ARDundZDF-Favoriten im Hauptmenü einblenden" type="bool" id="pref_showFavs" default="false"/>
 	<setting label="ARDundZDF-Merkliste verwenden (getrennt von Favoriten)" type="bool" id="pref_watchlist" default="true"/>
	<setting label="Begleitinfos für Favoriten und Merkliste verwenden - falls verfügbar" type="bool" id="pref_FavsInfo" default="true"/>
 </category> 

 <category label=" Beiträge filtern">
  	<setting label="Titel enthält >Hörfassungen<" type="bool" id="pref_filter_hoerfassung" default="false"/>
 </category>
</settings>





