<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Allgemeine Einstellungen">
    	<setting label="Debug: Plugin-Logging einschalten" type="bool" id="pref_info_debug" default="true"/>
    	<setting label="neues Update beim Start des Plugins anzeigen" type="bool" id="pref_info_update" default="false"/>
    	<setting label="Mobile Version der ZDF Mediathek verwenden" type="bool" id="pref_use_zdfmobile" default="false"/>
         <setting type="sep"/>
   	<setting label="EPG-Daten in den TV-Live-Menüs (Überregional, Regional, Privat) verwenden - dauert etwas länger" type="bool" id="pref_use_epg" default="false"/>
	<setting label="Maximale Anzahl von ZDF-Inhalten pro Seite (0=unbegrenzt). ARD-Inhalte und ZFD-Suchresultate kommen bereits seitenweise vom Sender." type="labelenum" values="0|15|25|50|100|150|200" id="pref_maxZDFContent" default="50"/> 
	<setting type="sep"/>
	<setting label="Verfügbare Video-Bandbreiten und -auflösungen anzeigen" type="bool" id="pref_show_resolution" default="true"/>
	<setting label="Untertitel: auf vorhandene Untertitel hinweisen" type="bool" id="pref_UT_Info" default="true"/>
	<setting label="Untertitel: Aufbewahrungsdauer (Tage)" type="labelenum" values="1|10|30" default="1"
		id="pref_UT_store_days"/>
	<setting label="Bildersammlungen (Slide Shows): Aufbewahrungsdauer (Tage)" type="labelenum" values="1|10|30" default="1"
		id="pref_SLIDES_store_days"/>
   </category>

 <category label="Radio-Podcast Einstellungen">
  	<setting label="Radio-Podcast-Erweiterung verwenden" type="bool" id="pref_use_podcast" default="true"/>
	<setting label="Pfad zur persoenlichen Podcast-Favoritenliste (ohne Pfad: Ressourcenverzeichnis)" type="text" id="pref_podcast_favorits" default="podcast-favorits.txt"/>
 </category>
 
 <category label="Download Einstellungen">
 	<setting label="curl/wget-Downloads freischalten" type="bool" id="pref_use_downloads" default="false"/>
  	<setting label="curl/wget-Downloads: alle verfuegbaren Video-Qualitaeten anbieten" type="bool" id="pref_show_qualities" default="false"/>
 	<setting label="curl/wget-Downloads: Dateinamen aus dem Titel erzeugen (statt Download_{Datum}_{Uhrzeit})" type="bool" id="pref_generate_filenames" default="false"/>
	<setting label="Pfad zum Downloadprogramm curl/wget" type="text" id="pref_curl_path" default=""/>
	<setting label="Downloadverzeichnis fuer curl/wget" type="text" id="pref_curl_download_path" default=""/>
	<setting label="Downloads verschieben in dieses Verzeichnis" type="text" id="pref_VideoDest_path" default=""/>
</category>
 
 <category label="Recording TV-Live verwenden">
 	<setting label="Recording TV-Live verwenden" type="bool" id="pref_LiveRecord" default="true"/>
	<setting label="Recording TV-Live: Dauer der Aufnahme" type="labelenum" values="00:05:00 = 5 Minuten|00:15:00 = 15 Minuten|00:30:00 = 30 Minuten|01:00:00 = 1 Stunde|01:30:00 = 1:30 Stunden|01:45:00 = 1:45 Stunden|02:00:00 = 2 Stunden|04:00:00 = 4 Stunden|12:00:00 = 12 Stunden|00:00:05 = 5 Sekunden" default="01:00:00 = 1 Stunde" id="pref_LiveRecord_duration"/> 
	<setting label="Recording TV-Live: ffmpeg-Parameter. Das Plugin ersetzt 3 x %s durch Url, Aufnahmedauer, Dateiname." type="text" id="pref_LiveRecord_ffmpegCall" default="/usr/bin/ffmpeg -re -i %s -c copy -t %s %s -nostdin"/>
</category> 
</settings>





